*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

div.head{
	text-align: center;
	margin: 0 auto;
	width: 500px;
	height: auto;
	padding: 10px;
	border: 1px solid #D4D5D6;
}

div.message-title{
	border-bottom: 1px solid #D4D5D6;
	margin-bottom: 10px
}

div.paragraph-left {
	color: white;
	background-color: #0084ff;
	border-radius: 50px;
	padding: 30px;
	text-align: left;
}

div img{
	width: 50px;
	padding: 5px;
	border-radius: 50px; 
	border: 2px solid white;
}

div span{
	color: gray;
}

div.paragraph-right{
	color: white;
	background-color: #0084ff;
	border-radius: 50px;
	padding: 30px;
}

/*div.textform{
	border-radius: 10px

}

div.text-area{
	padding: 15px 32px;
	display: inline-block;

}

div.b{
	background-color: #0084ff
	text color: white;
	text-align: center;
	font-size: 16px;
}*/

div.message-form{
	padding: 10px;
}

div.message-form textarea{
	border-radius: 10px;
}

div.message-form button{
	background-color: #0084ff;
	color: white;
	text-align: center;
	font-size: 16px;
	border: none;
	padding: 15px 32px;
	display: inline-block;
}